.blogContainer {
    padding: 35px 60px 32px 83px;
    height: 75vh;
    overflow-y: scroll;
    width: 100%;
}

.addFormContainer {
    /* margin-top: 4rem; */
    width: 100%;
    border-radius: 0.625rem;
    border: 1px solid lightgray;
}

.formTop {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
    text-transform: capitalize;
    padding: 1.1rem 1.2rem 1.1rem 2.5rem;
}

.addForm {
    padding: 1.5rem 2.5rem;
    background-color: #fafafa;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    /* background-color: red; */
}

.formRow {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formInput {
    margin-top: 15px;
}

.formField input[type="file"] {
    display: none;

}

label {
    display: block;
    text-transform: capitalize;
}

.imgUpload {
    background-color: #fff;
    width: 100%;
    padding: 50px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    border: 1px dashed lightgray;
}

.formBottom {
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
}

/* testimonialsForm CSS */
.formField textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 7px;
}

.uploadbtn{
    background-color:#7A28C2 ;
}

.uploadbtn:hover{
    background-color: #a871d8;
}

.colItem.minorSpace {
    margin-top: 1rem !important;

}

.sliderTextArea {
    border: 1px solid lightgray !important;
}

@media (max-width:768px) {
    .addForm {
        padding: 1rem;
    }

    .formRow {
        flex-direction: column;
    }

    .formField:first-child {
        width: 100%;
    }

    .formField:last-child {
        width: 100%;
    }
}