.popupForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px 45px;
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1000;
}

.popupForm h3 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.first_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.image {
  width: 50%;
  position: relative;
}

.form_image {
  opacity: 0;
  position: absolute;
  height: 14.5rem;
  cursor: pointer;
}

.image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.image_view{
  border: 2px dashed #333;
  border-radius: 6px;
  height: 14.5rem;
   width: 24.25rem;
}

.image_view img{
  width: 24rem;
  height: 14.3rem;
}


.icon {
  font-size: 5rem;
  color: #7E22CE;
}

.side_row {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.side_row select{
  width: 193px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
}

.row input, .row select{
  width: 250px;
}

.popupForm input, .popupForm select{
  font-size: 14px;
  padding: 10px;
}

.popupForm select{
  padding: 10px;
  border: 1px solid #c4c2c2;
  border-radius: 4px;
}

.popupForm label {
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
  margin-top: 16px;
}

.row button{
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #7E22CE;
  width: 120px;
  font-weight: 500;
}

.popupForm input:focus, .popupForm select:focus{
  outline: none;
}

.input_field{
  display: flex;
  flex-direction: column;
}

.text_danger{
  color: red;
  font-size: 11px;
  padding: 0;
}


/* TRUCK FORM STYLE */
.truck_form{
  width: 760px;
}

.truck_row{
  display: flex;
  gap: 90px;
}

.truck_row input, .truck_row select{
  width: 250px;
}

.truck_selection{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.length{
  width: 200px;
}