.container {
  padding: 32px;
  height: 75vh;
  overflow-y: scroll;
  width: 100%;
}
.testimonialsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.space {
  margin-top: 4rem;
}
.btn {
  display: flex;
  justify-content: end;
  margin: 2rem;
}
