.blog_section{
    display: flex;
    flex-direction: column;
}

.search_container {
    border: 2px solid #7A28C2;
    padding: 20px; 
    margin: 0px 0px 20px; 
}

.search_container h2,
.search_container a {
    color: #7A28C2; 
    font-size: 20px; 
}