.gallery_container {
    margin: 40px 160px;

}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
    margin-top: 100px;
    border-top: 1px solid black;
}

.image-gallery-slide.image-gallery-center {
    margin-bottom: 100px;
}

.header {
    text-align: center;
    font-size: x-large;
    margin: 20px 0;
    font-family: "Sintony", sans-serif;
}

@media screen and (max-width: 1068px) {
    .gallery_container {
        margin: 20px 20px
    }
}