.footer_conatainer{
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    background-color: #FCFCFF;
    padding: 0px 40px;
    border-top: solid 1px rgba(var(--m-color-neutral-20,230,237,242),1);
}

.footer_conatainer button{
    border-radius: 5px;
    border: 1px solid;
    padding: 6px;
    font-size: 13px;
    font-weight: 500;
}

.footer_conatainer button:hover {
    background-color: #dddcdc;
    cursor: pointer;
}