.mediumHeader{
    height: 70vh;
}
.mediumHeader img{
    height: 100%;
    width: 100%;
}

/* ABOUT SECTION */
.about_section{
    padding: 3.2rem 8.5rem;
    margin-bottom: 0.5rem;
}
.about_section h2{
    font-size: 28px;
    padding: 5px 0px;
}
.about_section p{
    /* text-align: center; */
}