.newQuote h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    /* margin-bottom: 12px; */
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.row label,
.row input,
.row select {
    display: flex;
    flex-direction: column;
}

.newQuote label {
    display: inline-block;
    font-weight: 500;
    line-height: 140%;
    text-transform: none;
    font-size: 0.875rem;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 18px;
}

.row input,
select,
.input_div {
    width: 100%;
    font-weight: 400;
    font-size: 0.85rem;
    padding: 0.6rem 0.8rem;
    border: 1px solid #cccbcb;
    border-radius: 5px;
    min-width: 0px;
}

.input_div {
    margin: 0px;
}

.row input:focus,
select:focus {
    outline: none;
}

.input_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_div button {
    border: none;
    height: 0px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

.addStop button {
    border-radius: 5px;
    margin: 32px 0px 12px 12px;
    border: 1px solid;
    padding: 6px;
    font-size: 13px;
    font-weight: 500;
}

.addStop button:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

.stop_input {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.stop img {
    width: 1.6rem;
    height: auto;
}

.stop select {
    width: 40%;
}

.close_stop {
    border-radius: 50%;
    border: none;
    padding: 3px 8px;
}