
.callusBlogContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;

  top: 0%;
  left: 50%;
  z-index: 999;
  align-items: center;
  transform: translate(-50%, -50%);
}
.callusBlogContainer p {
  position: absolute;
  margin-top: 5px;
  color: white;
  font-size: 22px;
}
.blogimg {
  position: relative;
}

.footer {
  background-color: #2B2E33;
  padding-bottom: 2rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  position: relative;
  justify-content: center;
  align-items: center;
}
.footerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  padding: 20px;
  margin-left: 10em;
  margin-right: 10em;
  color: #6a6969;
  background-color: #2B2E33;
  padding-top: 5rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #6a6969;
}
.footerContainer h2 {
  color: #f2f2f2;
  margin-bottom: 2rem;
  white-space: nowrap;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.ourClasses ul li {
  margin-bottom: 1rem;
  text-decoration: none;
  list-style: none;
  color: #6a6969;
  font-family: 'Sintony', sans-serif;
  position: relative; 
  max-width: fit-content;
  display: block;
}
.ourClasses ul li:hover{
  color:#F78312;
}

.ourClasses ul li::before,
.ourClasses ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 30%;
  background-color: #F7831240;
  transition: width 0.3s ease-in; 
}

.ourClasses ul li:hover::before,
.ourClasses ul li:hover::after {
  width: 100%; 
}

.ourClasses ul li::after {
  left: 0;
  right: 0;
}

.ourClasses ul li::before,
.ourClasses ul li::after {
  transform-origin: right;
}
.timingTable td {
  padding-right: 4rem;
  white-space: nowrap;
}
.marginBottom {
  margin-bottom: 1rem;
}
.emailDiv {
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}
h3{
  font-size: large;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Sintony',sans-serif;
}
.emailDiv input {
  width: 80%;
  border: none;
  padding-left: 5px;
}
.arrow {
  background-color: orange;
  width: 8%;
  border-radius: 15%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.downloadApp {
  display: flex;
  justify-content: flex-start;
}
.logoFooter {
  font-size: 20px;
  width: 3em;
  position: relative;
  margin-right: 15px;
}
.downloadApp {
  margin-top: 2rem;
}
.downloadApp h3 {
  margin-top: 1.15rem;
  color: orangered;
}
.copyright {
  color: #6a6969;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sintony',sans-serif;
  padding-top: 5px;
}

@media (max-width: 1200px) {
  .footerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;

    padding: 5rem;
    margin-left: 1em;
    margin-right: 1em;
    /* margin-bottom: 5em; */
    color: #6a6969;
    background-color: #292929;
    padding-top: 5rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #6a6969;
  }
}
@media (max-width: 786px) {
  .footerContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    background-color: wheat;
    padding: 20px;
    padding-left: 2rem;
    margin-left: 0em;
    margin-right: 1em;
    /* margin-bottom: 5em; */
    color: #6a6969;
    background-color: #292929;
    padding-top: 5rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #6a6969;
    column-gap: 2rem;
  }
  .footerContainer h2 {
    margin-bottom: 2rem;
  }

  .icons {
    margin-bottom: 2rem;
  }
  .ourClasses {
    margin-bottom: 1rem;
  }
  .ourClasses li {
    margin-bottom: 1rem;
  }

  .ourTimings {
    margin-bottom: 1rem;
  }
  .emailDiv {
    width: 50%;
  }
}
