/* CarDeals.css */

.carousel-indicator-btn {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #6c757d;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carousel-indicator-btn.active {
    background-color: #007bff;
  }
  