.vechical_selection {
    padding: 30px 30px;
}

.vechial_types {
    background-color: #e3d5ee;
    margin: 20px 0px;
    padding: 10px 15px;
    border-radius: 10px;
}

.vechial_types input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.vechial_types h4 {
    font-size: 16px;
    font-weight: 600;
}

.vechial_types p {
    padding-top: 2px;
    font-size: 14px;
    color: #59595c;
}

.vechial_types.selected {
    background-color: #3b095c !important; /* Add !important to increase specificity */
}

.formbutton{
    margin-top: 50px;
}
