.container{
    padding: 32px;
    height: 75vh;
    overflow-y: scroll;
    width: 100%;
}
.allTrainers{
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 2.75rem 1.5rem;
}
.trainer{
width: 13.625rem;
height: 14.75rem;
border-radius: 0.625rem;
}
.trainer>h5{
    text-transform: uppercase;
}
.imgContainer{
    position: relative;
}
.icons{
    position: absolute;
    width: 5.5rem;
    height: 2rem;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
}
.icon{
    color: #fff;
    margin-left: .5rem;
    margin-right: .5rem;
}
.addTrainer{
width: 13.625rem;
height: 14.75rem;
background-color: #fafafa;
border-radius: 0.625rem;
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
justify-content: center;
}
.addTrainer img{
width: 1.25rem;
height: 1.25rem;
}
.addTrainer p{
color: #EC1F3E;
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem;
text-transform: uppercase;
}
.space{
    margin-top: 4rem;
}