.image{
    height: 25rem; /* 400px */
    width: 85.4rem;
    /* padding: 0rem 6rem; */
}

.blogSection {
    display: flex;
    flex-direction: row;
    padding: 3rem 6rem;
    height: 100%;
    gap: 40px;
    width: 100%;
  }
  
  .blogContainer {
    width: 75%;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
  }

  .filterContainer{
    width: 28%;
  }