.container {
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
    background-color: rgb(226, 222, 222);
    height: 40rem;
    gap: 40px;
  }
  
  .addOnContainer {
    width: 80rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    
  }