.container {
    display: flex;
    flex-direction: row;
    padding: 40px 40px;
    background-color: rgb(226, 222, 222);
    height: 100%;
    gap: 40px;
  }
  
  .addOnContainer {
    width: 80rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
  }