.name_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    margin: 0;
  }
  
  .inputForm {
   display: flex;
   flex-direction: column;
  }
  
  .button {
    /* styles for the buttons */
  }
  