.header-container {
    /* align-self: center; */
    z-index: 1000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 95px; */
    /* transition:transform 1s ease-in; */
    /* position: absolute; */
    /* transform: translateY(1px); */
    /* background-color: transparent; */
  }
  
  .scrolled {
    position: fixed;
    transform: translateY(0);
    transition: 0.2s all;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow to bottom border */
}

  