.bookingForm {
  background-color: #fff;
  width: 43rem;
  margin-top: 3rem;
  padding: 3rem 3.5rem;
}

.text_spacing {
  letter-spacing: 0.3px;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.formrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formfiled{
  display: flex;
  flex-direction: column;
}

.formlabel {
  display: block;
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  font-size: 0.96rem;
  color: #333;
}

.formrow input, textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem; 
}

.formrow input:focus{
  outline: none;
}

.formrow input{
  width: 16rem;
}

.formrow textarea{
  width: 20rem;
}

.msg{
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #6b6a6a;
}

.btn {
  background-color: #7e22ce;
  width: 8rem;
  font-size: 16px;
}