.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 2rem;
  gap: 2rem;
}

.mainMessage {
  display: flex;
  background-color: #eae7e7;
  border-radius: 20px;
  height: 100%;
}

.messageContainer {
padding:2rem;
}

@media (max-width: 860px) {
  .container {
    flex-direction: column;
    margin: 2rem;
  }
}