.popupForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 3rem 4rem;
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1000;
}

.heading{
  font-size: 1.8rem;
}

.image {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  margin-top: 2px;
}

.form_image {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: "100%";
  height: 10rem;
  cursor: pointer;
}

.margin {
  border: 3px dotted #7E22CE;
}

.file_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.icon {
  font-size: 4rem;
  color: #7E22CE;
  margin-bottom: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 28px;
}


/* Adjust the hover styles for the buttons */
button:hover,
.primary:hover {
  background-color: #45a049;
}