.table {
  width: 100%;
  /* border-collapse: collapse; */
}

.table th{
  border-bottom: 1px solid #ddd;
}

.table img{
  height: 40px;
  width: 80px;
}

.table th,
.table td {
  padding: 3px 8px 3px 9px;
  font-size: 15px;
  text-align: left;
}

.table span{
  font-size: 12px;
  font-weight: 400;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.carTitle {
  width: 40%;
}

.editButton, .deleteButton{
  color: white;
  font-size: 22px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton {
  background-color: #3498db;
}

.deleteButton {
  background-color: #e74c3c;
  margin-left: 4px;
}

  