.rental_container{
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rental_div{
    border: 1px solid #ccc;
    width: 35rem;
    padding: 35px 45px;
}

.rental_div h2{
    font-size: 25px;
}

.rental_div p{
    text-align: center;
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 600;
}

.rental_inputs{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.rental_inputs label{
    font-size: 15px;
    color: #3B3B4f;
}

.rental_inputs input{
    border: 1px solid #ccc;
    color: #3B3B4f;
    font-size: 15px;
    padding: 8px;
    margin-top: 4px;
}

.rental_div button{
    margin-top: 35px;
    width: 100%;
    background-color: #7E22CE;
    color: white;
    padding: 10px 0px;
    border: none;
    font-size: 17px;
    font-weight: 500;
}

/* VIEW RENTAL BOOKING */
.viewrental_container{
    padding: 1.5rem 3rem;
}

.rental_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}