.zoneContainer {
    padding: 40px 90px;
    overflow-y: scroll;
    color: #3B3B4f;
    width: 100%;
}

.zoneHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}

.avilable_zone{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.avilable_zone p{
    border: 1px solid #b491d2;
    border-radius: 6px;
    background-color:#e0e0e058;
    padding: 8px 15px;
}