.h2{
    font-size: 25px;
}

.p{
    font-size: 18px;
    font-weight: 500;
}
.Container {
    display: flex;
    flex-direction: column;
}

.blogCard {
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    margin: 18px 12px;
    height: 14.2rem;
    width: 20rem;
    overflow: hidden;
    background-color: white;
}

.cards{
    display: flex;
    flex-direction: row;
}